body, h1, p, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #FFC0CB;
    font-family: Arial, sans-serif;
}

.transaction-wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
}

.transactions-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Adds space between elements */
}

.back-button {
    align-self: flex-start;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #2980b9;
}

h1 {
    font-size: 24px;
    margin: 0;
}

.balance {
    color: #333;
    margin: 0;
}

.transaction-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.transaction-button {
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
}

.transaction-button:hover {
    background-color: #219653;
}
